<%= form_for @stack, url: stacks_path do |f| %>
  <%= base_errors_for @stack %>

  <%= selectable_f f, :compute_resource_id,
                   options_from_collection_for_select(@compute_resources, 'id', 'name', @stack.compute_resource_id),
                   {:include_blank => _('Choose a compute resource')},
                   {:label => _('Compute resource'),
                    :onchange => 'stacksNewComputeResourceSelected(this);',
                    :'data-url' => new_stack_path,
                    :help_inline => :indicator, :required => true} %>

  <div id="tenants-list-container">
    <div id="tenants-list">
      <% if @stack.tenants %>
        <%= selectable_f f, :tenant_id,
                         options_from_collection_for_select(@stack.tenants, 'id', 'name', @stack.tenant_id),
                         {:include_blank => _('Choose a tenant')},
                         {:label => _('Tenant'), :required => true} %>

      <% end %>
    </div>
  </div>

  <div id="main-stack-parameters" class="<%= 'hidden' unless @stack.compute_resource_id %>">
    <%= text_f f, :name, required: true, label: _('Stack name'),
               help_inline: _('This value must match the following pattern: ^[a-zA-Z][a-zA-Z0-9_.-]*$') %>
    <%= selectable_f f, :template_id,
                     options_from_collection_for_select(ForemanOrchestration::StackTemplate.for_select_tag, 'id', 'name', @stack.template_id),
                     {include_blank: _('Choose a template')},
                     {:label => _('Template'), :'data-url' => with_params_stack_template_path(':template_id'),
                      :onchange => 'stacksLoadTemplateWithParams(this)', required: true,
                      :help_inline => :indicator} %>
    <div id="template-with-params">
      <% if @stack.template %>
        <%= render partial: 'foreman_orchestration/stack_templates/with_params',
                   locals: {template: @stack.template, parameters: @stack.parameters} %>
      <% end %>
    </div>
  </div>
<% end %>
